body { font-family: 'Source Sans Pro', sans-serif; max-width: 800px; margin: auto; }
h1 { font-family: 'Fredoka One', cursive; font-size: 2em; text-align: center; }
p { text-align: center;}

aside { float: left; }
aside.right { padding-left: 2em; }
section::after { content:''; display: block; clear: both; }

section { margin-top: 100px; }
section {width: 100%; text-align: center; margin-left: auto; margin-right: auto;}

/* #welcome {width: 100%; text-align: center; margin-left: auto; margin-right: auto;} */
a.button { font-size: 1.2em; text-decoration: none; padding: 20px; color: #fff; background-color: #5a2b11; border-radius: 5px; margin-top: 100px; }
a.button { }

@media screen and (max-width: 600px) {

  aside { float: none; }
  aside#right { padding-left: 0px; }
}
